#ignore thumbnails
Thumbs.db

#Ignore binaries
*.aps
*.bak
*.db
*.dll
*.exe
*.exp
*.htm
*.ipch
*.idb
*.lib
*.log
*.manifest
*.nupkg
*.obj
*.opendb
*.pch
*.pdb
*.res
*.resources
*.sbr
*.suo
*.tlog
*.user
*.xml

#Ignore specific folders
.vs/
/RA_Integration/Debug
/RASnes9x/backup/libpng/
/RASnes9x/backup/zlib/
bizhawk/
RAGens/
RANes/
/packages/DXSDK_Missing.1.0.0

#Ignore specific files
/RA_Integration/LiveTag.txt
/RA_Integration/RA_BuildVer.h
/RA_Integration/Temp.txt
/RASnes9x/win32/BuildVer.h
/RASnes9x/win32/Diffs.txt
/RASnes9x/win32/LiveTag.txt
/RA_Integration/targetver.h


/packages/libpng.1.6.26.1/build
/packages/libpng.redist.1.6.26.1/build
/packages/rapidjson.1.0.2/build
/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.targets
/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.x64.targets
/packages/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/build/native/zlib.v120.windesktop.msvcstl.dyn.rt-dyn.x86.targets
/packages/zlib.v140.windesktop.msvcstl.dyn.rt-dyn.1.2.8.8/license
*.targets
