*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.aps
bizhawk/
RAGens/
RANes/
packages/
.vs/
*.db
/RASnes9x/backup/libpng/
/RASnes9x/backup/zlib/
*.htm
*.opendb
