<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="libpng" version="1.6.26.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.26.1" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="NuGet.CommandLine" version="3.4.3" />
  <package id="rapidjson.beta" version="1.0.0" targetframework="native" />
  <package id="DXSDK_March09_x86" version="9.26.1590" targetframework="native" />
  <package id="NVIDIA_Cg_x86" version="3.1.0013" targetframework="native" />
</packages>
